<div class="container" style="margin-top: 70px;">
    <h2>Add book</h2>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div>
                <form>
                    <div class="form-group">

                        <label for="title">Title</label>
                        <input [(ngModel)]="bookDeatils.Title" type="text" name="title" class="form-control" id="title"
                            aria-describedby="nameHelp" placeholder="Enter Title">
                        <small id="nameHelp" class="form-text text-muted">Enter Title</small>

                        <label for="Author">Author</label>
                        <input [(ngModel)]="bookDeatils.Author" type="text" name="Author" class="form-control"
                            id="Author" aria-describedby="nameHelp" placeholder="Enter Author">
                        <small id="nameHelp" class="form-text text-muted">Enter Author</small>


                        <label for="description">Description</label>
                        <textarea [(ngModel)]="bookDeatils.Description" name="description" class="form-control"
                            id="description" aria-describedby="descHelp">
                        </textarea>
                        <small id="descHelp" class="form-text text-muted">Enter book description</small>


                        <label for="Publisher">Publisher</label>
                        <input [(ngModel)]="bookDeatils.Publisher" type="text" name="Publisher" class="form-control"
                            id="Publisher" aria-describedby="nameHelp" placeholder="Enter Publisher">
                        <small id="nameHelp" class="form-text text-muted">Enter Publisher</small>

                        <label for="PublishedYear">Published Year</label>
                        <input [(ngModel)]="bookDeatils.PublishedYear" type="text" name="PublishedYear"
                            class="form-control" id="PublishedYear" aria-describedby="nameHelp"
                            placeholder="Enter Published Year">
                        <small id="nameHelp" class="form-text text-muted">Enter Published Year</small>

                        <label for="Price">Price</label>
                        <input [(ngModel)]="bookDeatils.Price" type="text" name="Price" class="form-control" id="Price"
                            aria-describedby="nameHelp" placeholder="Enter Price">
                        <small id="nameHelp" class="form-text text-muted">Enter Price</small>
                        
                    </div>
                </form>
                <button class="btn btn-primary" (click)="addBook()">Add Book</button>
            </div>
        </div>
    </div>
</div>